# Amount of GPU memory to pre-allocate.
# XLA_PYTHON_CLIENT_MEM_FRACTION=0.4
# Path to the data file.
# DATA_PATH=data/project_tycho_preprocessed_cases.csv
# Uncomment to prevent GPU memory pre-allocation.
# XLA_PYTHON_CLIENT_PREALLOCATE=false
# Always run on CPU.
# JAX_PLATFORMS=cpu
